Vladislav_Test_Project/my_service/.vscode/
Vladislav_Test_Project/my_service/build/
Vladislav_Test_Project/my_service/CMakeLists.txt
Vladislav_Test_Project/my_service/Kconfig
Vladislav_Test_Project/my_service/prj.conf
Vladislav_Test_Project/my_service/README.md
